*.o
*.out
*.so
*.DS_Store
.DS_Store
.DS_Store*
.DS_Store?
.*
*.so
*.tar
*.zip
*.csv
*.xls
*.numbers

LC-Data
LC-Data/*
EX-Data
EX-Data/*
Output
Output/*
Plots/EX-Data
Plots/EX-Data/*
Plots/LC-Data
Plots/LC-Data/*
Plots/FTEX-Data
Plots/FTEX-Data/*
Plots/FTLC-Data
Plots/FTLC-Data/*
Plots/Output2
Plots/Output2/*



test.m~
view.m~
*.m~
TT
